nav {
  position: fixed;
  width: 100%;
  z-index: 999;
  // background-color: rgba(13, 10, 51, 0.412);
  // box-shadow: 0 0 35px 2px rgb(9, 0, 57);
  background-color: transparent;

  .menu {
    flex: 1;
  }

  .scrolled {
    backdrop-filter: blur(12px);
    box-shadow: 0 0 2px 0.2px rgba(2, 0, 10, 0.481);
    transition: 0.5s ease-in-out;
  }

  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7rem 1.5rem 6rem;

    .menu {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 115px;

      li {
        list-style: none;
        margin: 0.25rem 1.2rem -0.25rem 0;
      }

      .navbar-link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;

        .link-container {
          position: absolute;
          top: 50%;
          transform: translateY(-66%);
          display: flex;
          align-items: center;
          justify-content: center;
          width: 115px;
          height: 40px;
          border-style: solid;
          border-radius: 20px;
          border-width: 1px;
          margin-right: 65px;
          border-color: #ffffff;
          background: linear-gradient(
            90.21deg,
            rgba(24, 0, 43, 0.5) -5.91%,
            rgba(75, 1, 136, 0.5) 111.58%
          );
          opacity: 0;
          z-index: 990;
          transition: opacity 0.5s ease-in-out;
          pointer-events: none; 
        }

        .icon {
          position: relative;
          width: 40px;
          height: 40px;
          margin-right: 60px;
          text-decoration: none;
          color: white;
          z-index: 1000;
          transition: left 0.5s ease-in-out; 
          left: 0; 
        }

        .label {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          margin: 0;
          font-size: 16px;
          letter-spacing: 0.8px;
          font-weight: 500;
          margin-left: 12px;
          color: white;
          text-decoration: none;
          opacity: 0;
          z-index: 991;
          transition: opacity 0.5s ease-in-out;
        }

        .edu {
          font-size: 14px;
          letter-spacing: 0.6px;
        }

        &:hover {
          .icon {
            left: -32px;
          }

          .link-container {
            opacity: 1;
            pointer-events: auto;
          }

          .label {
            opacity: 1;
          }
        }

        &.active {
          .icon {
            left: -32px;
          }

          .link-container {
            opacity: 1;
            pointer-events: auto;
          }

          .label {
            opacity: 1;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1370px) {
    .navbar {
      padding: 1.5rem 2rem 1.5rem 1rem;
    }
  }

  @media screen and (max-width: 650px) {
    position: fixed;
    display: flex;
    bottom: 20px;
    justify-content: center;
    width: 100%;
    z-index: 999;
    background-color: transparent;
    box-shadow: none;
    transition: all 0.3s ease-in-out;
    padding: 0 15px;

    .navbar {
      max-width: 350px;
      width: 100%;
      height: 65px;
      border-radius: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 20px 0 20px !important;
      background-color: transparent;
      backdrop-filter: blur(20px);
      border: 1px solid rgba(255, 255, 255, 0.1);

      .menu {
        margin-left: 0;
        width: 100%;
        justify-content: space-evenly;

        li {
          list-style: none;
          margin: 0;
        }

        .navbar-link {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0;
          width: 50px;
          height: 50px;

          .label {
            display: none;
          }

          .link-container {
            width: 50px;
            height: 50px !important;
            border-radius: 25px;
            border-width: 1px;
            margin: 0;
            border-color: rgb(255, 255, 255);
          }

          .icon {
            display: flex;
            justify-content: center;
            width: 35px;
            height: 35px;
            margin-right: 0;
            margin-top: -0.5rem;
            animation: none !important;
          }

          &:hover {
            .icon {
              left: 0;
            }
          }

          &.active {
            .icon {
              left: 0;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 400px) {
    padding: 0 10px;

    .navbar {
      max-width: 320px;
      padding: 20px 15px 0 15px !important;

      .menu {
        .navbar-link {
          width: 45px;
          height: 45px;

          .link-container {
            width: 45px;
            height: 45px !important;
            border-radius: 22.5px;
          }

          .icon {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}
