@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea,
select {
  cursor: text;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  background-color: #06000b;
  // background-image: linear-gradient(180deg, #130f40 0%, #000000 74%);
  color: #fff !important;
  font-family: 'Gugi', monospace;
  // font-family: 'Inconsolata', monospace;
}

.loader {
  align-items: center;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #2d014b;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #0c0018;
  border-radius: 6px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.shine-border-animation {
  animation: shine var(--duration, 14s) infinite linear;
}

@keyframes shine {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
